.testimonials-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px; /* Adjust the height as needed */
  background-color: #f0f0f0;
  overflow: hidden;
  margin: 20px auto; /* Center the slider box */
  border-radius: 10px; /* Rounded corners for the slider box */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  margin-left: 300px;
  margin-right: 300px;
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 80%;
  margin: auto;
  padding: 20px;
}

.profile-picture {
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
  overflow: hidden;
  border-radius: 50%; /* Circular shape */
  margin-bottom: 10px; /* Add space between picture and text */
  background-color: #fff; /* Add a white background to the circular picture */
  border: 2px solid #f0f0f0; /* Add a subtle border */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

